body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    height: 800px;
    position: relative;
    margin: 0;
    padding: 0;
        
    }
    header h1 {
        
    }

    nav {
        display: flex;
        background-color: white;
        align-items: center;
        height: 50px;
        padding-left: 125px;
        padding-right: 125px;
        justify-content: space-between;
        font-size: 20px;
      }
    
      nav ul {
        display: flex;
        list-style: none;
      }
      
      nav ul li a {
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
        color: black;
        font-weight: 450;
    }

    .cover {
        height: 600px;
        width: 100%;
        }
    .namee-text { 
        position: absolute;
        top: 380px;
        left: 100px;
        font-size: 25px; 
        font-weight: normal; 
        color: black;
        } 
    .nameu-text { 
        position: absolute;
        top: 410px;
        left: 100px;
        font-size: 25px; 
        font-weight: bold !important; 
        color: white;
        padding: 5px 0;
        }
    .identitas-text { 
        position: absolute;
        top: 550px;
        left: 100px;
        font-size: 16px; 
        font-weight: normal; 
        color: black;
        }
    .gray-text {
        position: absolute;
        top: 700px;
        left: 100px;
        font-size: 50px; 
        font-weight: bold; 
        color: gray;
    }
    .tmbl-resume {
        border-radius: 20px;
        background-color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 30px;
        width: 75px;
        border: solid 3px black;
        margin-top: 14px;
        cursor: pointer;
        left: 100px;
        top: 450px;
    }
    .border-form {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color: rgb(12, 17, 16);
        margin-top: 1110px;
        margin-left: 800px;
        }
    .inputan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        padding-bottom: 0.5rem;
        }
    .grid1 {
        gap: 5rem;
    }
    .button2 {
        border-radius: 20px;
        background-color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 30px;
        width: 75px;
        border: solid 3px black;
        margin-top: 14px;
        cursor: pointer;
        left: 100px;
        top: 450px;
    }
        


        
